<%= section "parks new admin" %>

<div class='sections'>
	<div class='section'>
		<a name="basic"></a>
		<h2>New Park</h2>

    <%= render :partial => "parks/form", :locals => { :park => @park } %>

  </div>
</div>

<%= link_to 'Back', parks_path %>
