<%= link_to "New Amenity", new_amenity_path %>
<ul class="amenities">
  <% @amenities.each do |amenity| %>
    <li class="amenity">
      <span class="name">
        <%= amenity.name %>
      </span>
      <%= link_to "Edit", edit_amenity_path(amenity) %>
      <%= link_to "Delete", amenity_path(amenity), :method => "delete", :confirm => "Are you sure you want to delete #{amenity.name}?" %>
    </li>
  <% end %>
</ul>
