/* Html Elements */
h2
{
	color:#669900;
}
h4
{
	color:#666666;
	margin: 0;
}

a{
  color:#669900;
}

/** Main Page Elements **/
#header
{
	height:125px;
	background-color:#fff;
	z-index:100;
	width:100%;
}
.top-nav,
.top-nav li
{
	list-style:none;
	margin:0;
	padding:0;
}
.top-nav
{
	float:right;
	margin:30px 40px 0 0;
}
.top-nav li
{
	float:left;
	margin: 0 13px 0 13px;
	padding:10px 0 0 0;
}
.top-nav li.last
{
	margin:0 0 0 13px;
}
.top-nav li a,
.top-nav li a:active
{
	font-size:16px;
	color:#666666;
	text-decoration:none;	
}
.top-nav li a:hover
{
	color:#aaa;
}
.top-nav li.active a,
body.admin.amenities .top-nav li.amenities a,
body.parks .top-nav li.parks a
{
	color:#76B143;
}
.top-nav li.active
{
	border-top:1px solid #76b143;
}
#footer
{
	background-image:url(/images/grass-footer.jpg);
	background-position:0 100%;
	background-repeat:repeat-x;
	height:200px;
}

body .share-this
{
  /*position:absolute;
  right:0;
  bottom:-50px;*/
  text-align:right;
}

/* =errors
*/
div.fieldWithErrors {
  display: inline;
}

div.fieldWithErrors label {
  font-weight: bold;
  color: #CC0000;
}

div.errorExplanation {
  color: #c00; 
  background-color: #FBE3E4;
  border: 1px solid #FBC2C4;
  background-image: url(../images/error.png);  
}

div.errorExplanation h2 {
  color: #c00;  
}

div.errorExplanation p {
  margin-bottom: 0;
}

div.errorExplanation a {
  color:#c00;
}

div.errorExplanation {
  padding: 1.5em 1.5em 1.5em 4.5em;
  background-position: 1em 0.95em;
  background-repeat: no-repeat;
}

div.errorExplanation h2 {
  line-height: 1;
  font-size: 1.5em;
  font-weight: bold;
}

div.errorExplanation *:last-child {
  margin-bottom: 0;
}

form div.errorExplanation{
  margin-bottom: 1.5em
}

.admin_notice {
  padding: 0.5em;
  top: 0;
  background-color: #97D95C;
}

.admin_notice img {
  width: 20px;
  height: 20px;
}

.admin_notice a {
  color: #fff;
  text-decoration: none;
}

.admin_notice a.logout {
  float: right;
}


/** Main Area **/
#main
{
	position:relative;
}

/** Form Elements **/
.textbox
{
/*  border:1px solid #000;*/
}

/** Sections **/
.section
{
  clear:both;
}

.photoset-id-highlight
{
	color:#3399FF; /* light blue */
}
/** Map Area **/
#map
{
	width:850px;
	height:400px;
	z-index:0;
}
body.parks.admin .admin-map
{
  width:669px;
  height:250px;
}

/* =sessions/login page
*/
body.sessions.new form.session {
  width: 500px;
  margin: 100px auto;
  padding: 0.5em;
  border: 6px solid #B0D136;
  background-color: #D9FF77;
}

body.sessions.new form.session p.failure { 
  display: block;
  float: right;
  padding: 0.25em;
  background-color: #FF6745;
}


body.sessions.new form.session .form_item { 
  margin: 0.25em 0 0.25em 0;
  font-size: 1.25em;
  font-color: #666;
}

body.sessions.new form.session label {
  display: block;
  font-size: 1.25em;
  color: #666;
  float: left;
  width: 100px;
}

body.sessions.new form.session .form_item input {
  font-size: 1.25em;
  width: 175px;
}

body.sessions.new form.session .buttons input {
  font-size: 1.25em;
}

/* =admin 
*/
body.admin .actions {
  float: right;
}

body.admin.parks h4 .actions {
  font-size: 0.9em;
}

body.admin.amenities ul.amenities,
body.admin.parks ul.parks, {
  list-style-type: none;
}

body.admin.amenities ul.amenities li,
body.admin.parks ul.parks li {
  margin-left: 0.25em;
}

body.admin.amenities ul.amenities li.even,
body.admin.parks ul.parks li.even {
  background-color: #EDF3FE;
}

body.admin.amenities ul.amenities li .actions,
body.admin.parks ul.parks li .actions {
  float: right;
}

body.admin form .form_item {
  display: block;
  margin-bottom: 0.5em;
}

body.admin form .form_item label { 
  display: block;
  float: left;
  width: 100px;
}

body.admin.parks form .location .form_item input.latitude {
  margin-right: 0.5em;
}

body.admin.parks form .location .form_item label.longitude { 
  display: inline;
  float: none;
}

body.admin.parks form .form_item.location input.address {
  width: 300px;
}


/* =amenities 
*/
body.admin.amenities form.amenity,
body.admin.parks form.park {
  background-color: #F9F4D1;
  border: 1px solid #E3DDB1;
  margin-bottom: 1.5em;
  padding: 0.5em;
}

body.admin.amenities form.amenity h4,
body.admin.parks form.park h4 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}

body.admin.amenities form.amenity .notes,
body.admin.parks form.park .notes {
  color:#666666;
  margin:0 0 0.5em;
  font-size: 0.9em;
  font-style: italic;
}

body.admin.amenities form.amenity fieldset,
body.admin.parks form.park fieldset {
  background-color:#E3DDB1;
  margin-bottom:0.5em;
  overflow:hidden;
  padding: 0.5em;
}

body.admin.parks form .amenities {
  margin-bottom: 1em; 
}

body.admin.parks form fieldset.video textarea {
  width: 600px;
}

body.admin.parks .admin-map {
  margin-left: 100px;
}

/* =parks
*/
body.parks.show .park
{
  background-image:url(/images/park-profile-bg.png);
  background-repeat:repeat-y;
  
}
body.parks.show .park h1
{
  color:#77b141;
}
body.parks.show .search-toolbar
{
  height:20px;
  background-color:#b3d43d;
  text-align:right;
  padding:0 10px 0 0;
}

body.parks.show .search-toolbar a
{
  color:#fff;
  font-weight:bold;
}
body.parks.show .search-window
{
  width:850px;
  background-color:#b3d43d;
  height:0px;
  overflow:hidden;
}
body.parks.show .search-window.show-map
{
  height:auto;
  overflow:auto;
}

body.parks.show .flickr-pool-slideshow {
  position: relative;
}
body.parks.show .flickr-pool-slideshow, body.parks.show .flickr-pool-slideshow li {
  width: 300px;
  height: 225px;
  margin:0 0 10px 0 ;
}
body.parks.show .flickr-pool-slideshow ul {
  list-style: none;
  padding: 0;
}
body.parks.show .flickr-pool-slideshow li {
  float: left;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 225px;
  overflow: hidden;
}

body.parks.show .flickr-pool-slideshow li img {
  width: 100%;
  height: auto;
}
body.parks.show .simple_map {
  width: 300px;
  height: 200px;
  margin: 0 0 10px 0;
}
body.parks.show .contactinfo
{
  padding:10px 0 0 10px;
}
body.parks.show .amenity .description
{
  color:#818286;
}

/* =parks index
*/

body.parks.index ul.parks {
  list-style-type: none;
}

body.parks.index ul.actions {
  float: right;
}


body.explore .park_category h2 {
  background-repeat: no-repeat;
  margin: 5px 0;
  text-indent: -9999px;
}

body.explore .about_our_parks h2 {
  background-image: url(/images/our_parks.png);
  height: 32px;
  text-indent: -9999px;
  width: 164px;
}

body.explore .about_our_parks {
  margin: 40px 0;
}

body.explore .about_our_parks p {
  font-size: 1.5em;
}

body.explore .northeast h2 {
  background-image: url(/images/northeast.png);
  height: 16px;
  width: 134px;
}
body.explore .northwest h2 {
  background-image: url(/images/northwest.png);
  height: 16px;
  width: 140px;
}
body.explore .southeast h2 {
  background-image: url(/images/southeast.png);
  height: 16px;
  width: 132px;
}
body.explore .southwest h2 {
  background-image: url(/images/southwest.png);
  height: 16px;
  width: 138px;
}

body.explore .northeast ul { background-color: #7B8E22 }
body.explore .northwest ul { background-color: #749C3C }
body.explore .southeast ul { background-color: #ACC13B }
body.explore .southwest ul { background-color: #BDBF33 }

body.explore .park_category span{ display: block; }
body.explore .park_category span a{ color: white; }
body.explore .park_category ul{
  color: #353535;
  padding: 5px;
}

body.explore .park_category li{
  margin: 0 0 10px 0;
  list-style: none;
}
