/* Html Elements */
h2
{
	color:#669900;
}
h4
{
	color:#336699;
}

a{
  color:#669900;
}

/** Main Page Elements **/
#header
{
	height:125px;
	background-color:#fff;
	z-index:100;
	width:100%;
}
.top-nav,
.top-nav li
{
	list-style:none;
	margin:0;
	padding:0;
}
.top-nav
{
	float:right;
	margin:30px 40px 0 0;
}
.top-nav li
{
	float:left;
	margin: 0 13px 0 13px;
	padding:10px 0 0 0;
}
.top-nav li.last
{
	margin:0 0 0 13px;
}
.top-nav li a,
.top-nav li a:active
{
	font-size:16px;
	color:#666666;
	text-decoration:none;	
}
.top-nav li a:hover
{
	color:#aaa;
}
.top-nav li.active a
{
	color:#76B143;
}
.top-nav li.active
{
	border-top:1px solid #76b143;
}
#footer
{
	background-image:url(/images/grass-footer.png);
	background-position:0 100%;
	background-repeat:repeat-x;
	height:200px;
}
/** Main Area **/
#main
{
	position:relative;
}

/** Form Elements **/
.textbox
{
	border:1px solid #000;
}

/** Sections **/
.section
{
  clear:both;
}

.photoset-id-highlight
{
	color:#3399FF; /* light blue */
}
/** Map Area **/
#map
{
	width:850px;
	height:400px;
	z-index:0;
}
/** Search Window **/
#search-window
{
	display:none;
	width:940px;
	height:400px;
	background-color:#99CCFF;
	position:fixed;
	top:100px;
	border-top:1px dashed #fff;
}
#search-map
{
	width:800px;
	height:350px;
	margin:auto;
}
#admin-map
{
  width:669px;
  height:250px;
}
#search-input-area
{
	width:500px;
	margin:0px auto 10px auto;
}
#search-window-box
{
	width:450px;
}

/* =sessions/login page
*/
body.sessions.new form.session {
  width: 500px;
  margin: 100px auto;
  padding: 0.5em;
  border: 6px solid #B0D136;
  background-color: #D9FF77;
}

body.sessions.new form.session p.failure { 
  display: block;
  float: right;
  padding: 0.25em;
  background-color: #FF6745;
}


body.sessions.new form.session .form_item { 
  margin: 0.25em 0 0.25em 0;
  font-size: 1.25em;
  font-color: #666;
}

body.sessions.new form.session label {
  display: block;
  font-size: 1.25em;
  color: #666;
  float: left;
  width: 100px;
}

body.sessions.new form.session .form_item input {
  font-size: 1.25em;
  width: 175px;
}

body.sessions.new form.session .buttons input {
  font-size: 1.25em;
}

body.parks.show .flickr-pool-slideshow {
  position: relative;
}

body.parks.show .flickr-pool-slideshow, body.parks.show .flickr-pool-slideshow li {
  width: 300px;
  height: 300px;
}

body.parks.show .flickr-pool-slideshow ul {
  list-style: none;
  padding: 0;
}
body.parks.show .flickr-pool-slideshow li {
  float: left;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

body.parks.show .flickr-pool-slideshow li img {
  width: 100%;
  height: auto;
}

body.parks.show .simple_map {
  width: 200px;
  height: 200px;
}