<%= image_tag("logo.jpg") %>
<ul class='top-nav'>
  <li class="amenities"><%= link_to "Amenities", amenities_path %></li>
  <li class="parks"><%= link_to "Parks", parks_path %></li>
  <li class='last'><%= link_to "Back to site", "http://friendsofgrparks.org/"%></li>
</ul>
<div class='clear'></div>
