<%= image_tag("logo.jpg") %>
<ul class='top-nav'>
  <li class="amenities"><%= link_to "Amenities", amenities_path %></li>
  <li class="parks last"><%= link_to "Parks", parks_path %></li>
  <li class="users last"><%= link_to "Users", users_path %></li>
</ul>
<div class='clear'></div>
